.create-pin {
  height: 900px;
  width: 1000px;
  background: white;
  border-radius: 50px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 29px 16px rgba(244, 244, 244, 1);
  margin-top: 30px;
}

.create-pin-container {
  display: flex;
  justify-content: right;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: lightgray;
}

.create-form {
  height: 100%;
  width: 100%;
}

.create-form.title {
  height: 100%;
  width: 100%;
  font-size: 48pt;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -2.5px;
  color: grey;
}

.drop-area{
  display: flex;
  height: 500px;
  width: 400px;
  padding: 10px;
  background: lightgray;
  border: grey 3px dashed;
  border-radius: 20px;
  font-family: Arial,
  Helvetica,
  sans-serif;
}

#drop-text {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
}
#pinFile {
  visibility: hidden;
  height: 500px;
  width: 400px;
}

#file-upload-button {
  position: absolute;
  bottom: 20px;
}

.back-arrow-create {
  position: absolute;
  text-align: center;
  top: 90px;
  left: 15px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: background 0.5s;
  opacity: 70%;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.back-arrow-create i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 16pt;
  color: black;
}
