.create-pin {
  height: 900px;
  width: 1000px;
  background: white;
  border-radius: 50px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 29px 16px rgba(244, 244, 244, 1);
  margin-top: 30px;
}

.create-pin-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: lightgray;
}

.create-form {
  display: flex;
  height: 100%;
  width: 100%;
}

.create-form .create-pin-upload{
  display: flex;
  height: 800px;
  width: 500px;
  background: yellow;
}

.back-arrow-create {
  position: absolute;
  text-align: center;
  top: 90px;
  left: 15px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: background 0.5s;
  opacity: 70%;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.back-arrow-create i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 16pt;
  color: black;
}
