.create-pin {
  max-height: 900px;
  min-height: 600px;;
  min-width: 400px;
  max-width: 1000px;
  background: white;
  border-radius: 50px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 10px 10px 29px 16px rgba(244, 244, 244, 1);
  margin-top: 30px;
}

.create-pin-dropdown { 
  margin-bottom: 30px;
}

.testing {
  width: 100%;
  max-height: 100%;
}

div.create-pin-dropdown > div.dropdown {
  float: right;
}


.create-pin-container {
 display: flex;
 flex-direction: row-reverse;
 height: 100%;
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
 box-shadow: lightgray;
}

.create-pin-catherine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-height: 800px;
  min-height: 500px;
  width: 100%;
}

.create-form {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.create-text {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  font-size: 24pt;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -2.5px;
  color: #767676;
  height: fit-content;
  width: 50%;
  margin: 10px;
}

.create-text > h1 {
  padding-bottom: 8px;
  border-bottom: 1px solid #767676;
}

.create-text > p {
  font-size: 12pt;
  font-weight: normal;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #767676;
}

.create-pin-p > input.create-pin-body {
  width: 100%;
  margin-left: 2px;
}

.create-text > p.create-pin-p2 {
  padding-top: 230px;
  width: 100%;
  margin-left: 2px;
}



// .create-text > input.create-pin-body {
//   width: 100%;
// }

// .create-form.title {
//   height: 100%;
//   width: 100%;
//   font-size: 48pt;
//   font-weight: bold;
//   padding: 10px;
//   letter-spacing: -2.5px;
//   color: grey;
// }

.drop-area{
  display: flex;
  text-align: center;
  height: 500px;
  width: 400px;
  padding: 10px;
  background: #EFEFEF;
  border-radius: 20px;
  font-family: Arial,
  Helvetica,
  sans-serif;
}

.create-pin-fun {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px dashed #767676;
  box-sizing: border-box;
}

.create-pin-profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.create-pin-image {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
}

#upload-space {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px dashed lightgray;

}

#upload-space label {
  font-family: Arial,
  Helvetica,
  sans-serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#upload-space label i {
  font-size: 36px;
  color: #767676;
  margin-bottom: 30px;
}

#upload-space label #text{
  font-size: 12pt;
  color: #767676;
}

#drop-text {
  display: flex;
  text-align: center;
  justify-content: center;
}
#pinFile {
  visibility: hidden;
}

#file-upload-button {
  position: absolute;
  bottom: 20px;
}

.back-arrow-create {
  position: absolute;
  text-align: center;
  top: 90px;
  left: 15px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: background 0.5s;
  opacity: 70%;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.back-arrow-create i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 16pt;
  color: black;
}

#success-message-pin {
  font-size: 12pt;
  font-weight: normal;
  width: 100%;
  padding-bottom: 8px;
  font-style: italic;
  letter-spacing: -.5px;
  border-bottom: none;
  color: #2EA44E;
}
