
.modal-background {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 900;
  // z-index: -1;
}

.hey-eugene {
  background-image: image_url('backgroundImage2.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.pinboard-container {
  margin: 16px;
  max-width: 400px;
  width: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: Arial,
  Helvetica,
  sans-serif;
  box-shadow: 0 0 5px 10px #555;
  -webkit-box-shadow: 10px 10px 10px 4px black;
  -moz-box-shadow: 10px 10px 10px 4px black;
  z-index: 10;
}

.create-board-container {
  margin: 16px;
  max-width: 500px;
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: Arial,
    Helvetica,
    sans-serif;
  box-shadow: 0 0 10px 5px #555;
  z-index: 10;
}

.modal-pinboard-list {
  width: 90%;
  height: 80px;
  justify-content: space-around;
}


.back-arrow-modal {
  position: absolute;
  text-align: center;
  top: 90px;
  left: 10px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: background 0.5s;
  z-index: 1;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.back-arrow-modal i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 18pt;
  color: black;
}

.close-x {
  position: absolute;
  text-align: center;
  top: 90px;
  right: 10px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  transition: background 0.5s;
  z-index: 1;
  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

.close-x i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 18pt;
  color: black;
}


// .modal-login {
//    position: fixed;
//    align-items: center;
//    justify-content: center;
//    display: flex;
//    box-sizing: border-box;
//    width: 100vw;
//    height: 100vh;
//    top: 0;
//    bottom: 0;
//    right: 0;
//    left: 0;
//    background: rgba(0, 0, 0, 0.7);
// }




// .login-form-box {
//  background-color: lawngreen;
// }





