.nav-container {
  height: 90px;
  overflow: hidden;
  width: 100%;
  // position: fixed;
}

.nav-ul {
  height: 100%;
  overflow: hidden;
}

.nav-lis {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  margin: 8px;
}

.nav-lis > a {
  padding: 15px 10px 15px 10px;
  border-radius: 40px;
  margin-left: 4px;
  margin-right: 4px;
  &:focus{
    background-color: black;
    color: white;
  }
  &:hover{
    background-color: lightgrey;
  }
  &:focus:hover {
    background-color: black;
    color: white;
  }
}

// .icon-wrapper {
//   border-radius: 50px;
//   height: 25px;
//   width: 25px;
// }

.nav-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 10px;
  &:hover{
    background-color: lightgrey;
  }
  &:focus{
    border: 1px solid black;
  }
}

.nav-link-home.i {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 10px;

  &:hover {
    background-color: lightgrey;
  }

  &:focus {
    border: 1px solid black;
  }
}


.nav-lis > button {
  padding: 15px 10px 15px 10px;
  border-radius: 40px;
  transition: background 0.5s;
  &:focus{
    background-color: black;
    color: white;
  }
  &:hover{
    background-color: lightgrey;
  }
  &:focus:hover {
    background-color: black;
    color: white;
  }
}

a.nav-link-home-logo {
  padding: 5px;
  background-image: image_url('logo.png');
  background-repeat: no-repeat;
  border-radius: 100px;
  background-size: cover;
  color: transparent;
  width: 25px;
  height: 25px;
  &:focus:hover {
    background-color: lightgrey;
    color: transparent;
    transition: background 0.9s;
  }
}

.searchbar-container {
  width: 70%;
  height: 45px;
  background-color: whitesmoke;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  &:hover{
    background-color: lightgray;
    transition: background 0.8s;
  }
}

#searchbar-submit-button {
  height: 50px;
  width: 50px;
}

.searchbar-form {
  height: 100%;
}

#searchbar-input {
  width: 98%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-indent: 30px;
  background-image: image_url('search.png');
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: left;
  font-weight: normal;
  color: black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
 