// .pin-index-container {
//   column-count: 5;
//   column-gap: 15px;
// }

// .pin-grid {
//   display: inline-block;
//   width: 100%;
// }

// .test {
//   max-width: 100%;
//   padding: 5px;
//   margin: 5px;
// }

// .masonry-pins {
//   width: 200px;
//   height: 350px;
// }

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.masonry-pins {
  width: 90%;
}

.masonry-pins img {
  width: 230px;
  border-radius: 10px !important;
  box-shadow: 0 1px 1px 2px grey(0, 0, 0, .10);
  margin: 10px;
  transition: opacity .6s ease-in-out;
  &:hover {
    filter: grayscale(60%);
    cursor: zoom-out;
  }
  &:hover.pin-index-save {
    filter: grayscale(30%);
    cursor: pointer;
    visibility: visible !important;
     z-index: 10;
  }
  &:hover &:focus.pin-index-save {
    filter: grayscale(30%);
    cursor: pointer;
    visibility: visible !important;
    background-color: darkred;
     z-index: 10;
  }
}

.pin-index-save {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  top: 15px;
  right: 20px;
  height: 30px;
  width: 40px;
  background-color: #E52B21;
  color: white;
  border-radius: 15px;
  text-align: center;
  opacity: 67%;
  cursor: pointer;
  z-index: 1;
  // visibility: hidden;
  &:hover {
    z-index: 1 !important;
    visibility: visible !important;
  }
  &:focus {
    z-index: 1 !important;
    visibility: visible !important;
  }
}


// .masonry-pins{
//   border-radius: 10px;
//   // padding: 10px;
// }




// .pin-grid-item {
//   display: block;
//   width: 100%
// }


// .pin-index-container {
//   margin: 100px;
// }

// .pin-index-ul {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(50px, auto);
// }

// .pin-index-ul img {
//   width: 100%;
//   height: 100%;
//   border-radius: 5px;
// }