.pin-index-container {
  margin: 100px;
}

.pin-index-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.pin-index-ul img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}