#board-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  margin-top: 30px;
  row-gap: 1em;
  column-gap: 1em;
}

#board-show-list {
  z-index: 20;
}

#user-header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#user-photo {
  height: fit-content;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#user-text {
  height: fit-content;
  width: 200px;
  font-size: 16pt;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#user-text div {
  width: 200px;
  text-overflow: clip;
}

#user-text span {
  margin: 2px;
  text-overflow: clip;
}

#pin-image-wrapper {
  height: 160px;
  width: 250px;
  background-color: #EFEFEF;
  border-radius: 15px;
  // margin: 25px;
  // display: grid;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 10px 10px 29px 16px rgba(244, 244, 244, 1);
}

#pin-image-wrapper img:nth-child(2) {
  width: 100px;
  height: 100%;
}

#board-text {
  width: 100%;
  margin-left: 5px;
}

#board-show-list li {
  font-weight: bold;
  letter-spacing: .4px;
  font-family: Arial, Helvetica, sans-serif;
}

#board-show-list p {
  font-size: 12pt;
  color: grey;
}

#pin-image-wrapper1 {
  height: 160px;
  width: 250px;
  background-color: #EFEFEF;
  border-radius: 15px;
  // margin: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 29px 16px rgba(244, 244, 244, 1);
}

#pin-image-wrapper img{
  height: 100%;
  width: 40%;
  border: 1px solid white;
}

#pin-image-wrapper1 img {
  height: 100%;
  width: 40%;
  border: 1px solid white;
}

.create-pin-profile-image i {
  font-size: 75pt;
  color: grey;
}

.edit-create-button-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 5px;
}


.plus-board {
text-align: center;
bottom: 20px;
right: 20px;
height: 50px;
width: 50px;
box-sizing: border-box;
border-radius: 50px;
transition: background 0.5s;
opacity: .80;
z-index: 40;
margin: 10px;
&:hover {
  background-color: lightgrey;
  cursor: pointer;
}
}

.plus-board i {
  display: flex;
  font-size: 22pt;
  color: black;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: whitesmoke;

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}

#upload-space-edit {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 3px;
  border: 2px dashed grey;
}

#upload-space-edit label i {
  font-size: 36px;
  color: #767676;
  margin-bottom: 10px;
}

#upload-space-edit label #text {
  font-size: 12pt;
  color: #767676;
}

#upload-space-edit label {
  font-family: Arial,
    Helvetica,
    sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#pinFile {
  height:1px;
  width: 1px;
}

.edit-user-profile-image {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
  border: 2px dashed grey;
}

#upload-space-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  
}

// #board-list-wrap {
//   width: calc(100% - 80px);
//   height: 100%;
// }